:root {
      --bg-color: #ffffff;
      --text-color: #333333;    
}

header {
    background-color: #71be52;
    padding: 20px;
    text-align: center;
    border: black solid 1px;
}

body {
    margin: 20px;
    background-color: antiquewhite;
}

nav {   
    background-color: #ee6fe3;
    width: 20%;
    
    padding: 20px 0;
    box-sizing: border-box;
    height: auto;
    border: black solid 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
}

main {
    background-color: #dbcb97;
    width: 80%;
    margin-left: 3%;
    padding: 15px;
    border: black solid 1px;
}

article {
    background-color: #7fd6e7;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    border: black solid 1px;
}

/* Contenedor principal con flexbox para situar main a la derecha del nav */
.contenedor-principal {
    display: flex;
    margin-top: 20px;
}

footer {
    background-color: #b6b6e7;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border: black solid 1px;
    font-size: large;
}

@media screen and (max-width: 600px) {
    body {
            background-color: lightblue;
    }

    
    @media (prefers-color-scheme: dark) {
      :root {
        --bg-color: #333333;
        --text-color: #ffffff;
      }

          body {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
        nav {   
    background-color: #664c64;
    width: 20%;
    }
    }

    article {
    background-color: #45676e;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    border: black solid 1px;
    }

    main {
    background-color: #8b8264;
    width: 80%;
    margin-left: 3%;
    padding: 15px;
    border: black solid 1px;
    }

    header {
    background-color: #4c703e;
    padding: 20px;
    text-align: center;
    border: black solid 1px;
    }

    footer {
    background-color: #575770;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border: black solid 1px;
    font-size: large;
    }
}