body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#c1 {
    background-color: #000000;
    flex-basis: 20%;
    height: 60px;
}
#c2 {
    background-color: #fd0000;
    flex-basis: 80%;
    height: 60px;
}

#c3 {
    background-color: #2683b9;
    height: 400px;
}

#padre2 {
    display: flex;
    flex-direction: row;
}

#c4 {
    background-color: #030c5e;                   
    height: 200px;
    flex-basis: 50%;
}

#vacio {
    flex-basis: 25%;
    height: 200px;
}

#cont {
    flex-basis: 25%;
    height: 200px;
}

#c5 {
    background-color: #b3eca7;
    height: 100px;
}
#c6 {
    background-color: #137410;
    height: 100px;
}
#c7 {
    background-color: #ebe850;
    height: 100px;
}

@media (max-width: 600px) {
    body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    height: 200px;
}

#c1 {
    background-color: #000000;
    border: solid 1px black;
    flex-basis: 50%;
}
#c2 {
    background-color: #fd0000;
    flex-basis: 50%;
}

#c3 {
    background-color: #2683b9;
    height: 300px;
}

#padre2 {
    display: flex;
    flex-direction: row;
}

#c4 {
    background-color: #030c5e;                   
    height: 200px;
    flex-basis: 50%;
}

#vacio {
    flex-basis: 0%;
    height: 200px;
}

#cont {
    flex-basis: 50%;
    height: 200px;
}

#c5 {
    background-color: #b3eca7;
    height: 100px;
}
#c6 {
    background-color: #137410;
    height: 100px;
}
#c7 {
    background-color: #ebe850;
    height: 100px;
}
}