/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

/* Imagen */
.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    filter: grayscale(0%);
    transition: all 0.4s ease;
}

/* Contenido */
.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
    transition: all 0.4s ease;
}

.card-content p {
    opacity: 0;
    margin: 0;
    margin-top: 5px;
    transition: opacity 0.4s ease;
}

/* HOVER EFECTOS */
.card:hover .card-image {
    transform: scale(1.1);
    filter: grayscale(80%);
}

.card:hover .card-content {
    bottom: 40px;
}

.card:hover .card-content p {
    opacity: 1;
}

.pelota {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

